<div class="contents row">
  <% @albums.each do |album| %>
    <div class="content_post" >
      <p></p>
      <span class="name">
        <%= album.title %>
      </span>
    </div>
  <% end %>
</div>