<div class="contents row">
  <% @photos.each do |photo| %>
    <div class="content_post" >
      <p><%= photo.image %></p>
      <span class="name">
        <%= photo.description %>
      </span>
    </div>
  <% end %>
</div>